body {
	background-color: lightblue;
	width: 100%;
	margin: 0;
	padding: 0;
	color: black;
}

#leftBox {
  	float: left;
	background-color: orange;
	width: 50%;
	height: 400px;
	font-weight: bold;
	font-size: 40px;
	text-align: right;
	margin-left:-50%;
}

#rightBox {
  	background-color: orange;
 	display: inline-block;
  	width: 50%;
  	height: 400px;
  	font-weight: bold;
  	font-size: 40px;
  	text-align: left;
  	margin-right:-50%;
  	float: right;
}

h1 {
	vertical-align: -50%;
}

/*.clearfix:after {  
    content: "";  
    display: block;  
    clear: both;  
    visibility: hidden;  
    font-size: 0;  
    height: 0;  
    }  */